/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@font-face {
  font-family: "PT Mono";  
  src: url("/fonts/PTMono-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
   }
  
html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font-family: 'PT Mono', monospace;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #2a0ac9;
  background-image: url(http://vincentgarreau.com/particles.js/assets/img/kbLd9vb_new.gif);
  background-size: 60%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}

h1 {
  position: absolute;
  text-align: center;
  top: 10vw;
  left: 26vw;
  color: aliceblue;
  font-size: 48px;

}

.btn {
  position: absolute;
  font-size: 30px;
  color: aliceblue;
  left: 89vw;
  top: 48vw;
  border-radius: 18px;
  padding: 0.5vw 1vw;
  border: 5px solid aliceblue;

}

@media screen and (max-width: 1440px) {
  h1 {
    left: 25vw;
  }

  .btn {
    top: 56vw;
    left: 86vw;
  }
}

@media screen and (max-width: 1280px) {
  h1 {
    left: 22vw;
  }

  .btn {
    top: 48vw;
    left: 86vw;
  }
}

@media screen and (max-width: 1280px) {
  h1 {
    left: 0vw;
  }

  .btn {
    top: 122vw;
    left: 80vw;
  }

  #particles-js{
    width: 100%;
    height: 100%;
    background-color: #2a0ac9;
    background-image: url(http://vincentgarreau.com/particles.js/assets/img/kbLd9vb_new.gif);
    background-size: 140%;
    background-position: 180% 50%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 414px) {
  h1 {
    left: 0vw;
    top: 30vw;
    font-size: 36px;
  }

  .btn {
    top: 178vw;
    left: 36vw;
    padding: 1vw 1.5vw;
  }

  #particles-js{
    width: 100%;
    height: 100%;
    background-color: #2a0ac9;
    background-image: url(http://vincentgarreau.com/particles.js/assets/img/kbLd9vb_new.gif);
    background-size: 180%;
    background-position: 130% 50%;
    background-repeat: no-repeat;
  }
}